/* Estilos del proyecto */
body{
    background: linear-gradient(to bottom left, #4ac985 0%, #cb7953 100%);
    height: 100vh;
    color: white;
}
section a{
    text-decoration: none;
    color:white;
}
img{
    width: 60px;
}