/* Estilos del proyecto */
body{
    background: linear-gradient(to right, #00204A 0%, rgb(20, 183, 228) 100%);
    height: 100vh;
    color: white;
    font-family: 'Montserra', sans-serif;
    font-size: 18px;
}

section{
    padding-top:18px; 
}

section a{
    text-decoration: none;
    color:white;
}

h1,h2{
    font-family: 'Lobster', cursive;
    margin-bottom: 20px;
}

hr{
    background-color: rgb(147, 170, 199);
}

p{
    font-size: 0.9rem;
}

img{
    
    width: 40px;
}

form{
    margin-top:30px;
}

.btn{
    margin-top:27px;
    margin-bottom:15px;
}