<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Alegreya|Philosopher|Rammetto+One|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <title>Insta Collage</title>
</head>


<body>
    <img src="" alt="logo">
    <h2> Insta Collage</h2>
    <section class="container">
        <h4>Registrate</h4>
        <form>
            <div class="form-group">
                <label for="inputEmail">Email </label>
                <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="ingresa un email">
            </div>
            <div class="form-group">
                <label for="inputPassword">Contraseña</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña">
            </div>
            <button type="submit" class="btn btn-outline-light btn-block">Ir a Inicio de Sesión</button>
        </form>
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="../js/register.js"></script>

</body>

</html>